[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/elfio"]
	path = external/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/imgui_club"]
	path = external/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "external/capstone"]
	path = external/capstone
	url = https://github.com/capstone-engine/capstone
	branch = next
[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/demumble"]
	path = external/demumble
	url = https://github.com/nico/demumble.git
[submodule "external/dylib"]
	path = external/dylib
	url = https://github.com/martin-olivier/dylib.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/imgui-filebrowser"]
	path = external/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
